*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans HK", serif;
}
.banner{
    background: linear-gradient(135deg, #00b4b8, #0077b6);
}
.singup-form{
    h1{
        color: #00b4b8;
    }
    p{
        color: #00b4b8;
    }
}